@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --accent : #beee62;
    --primarry-1 : #0b090a;
    --secoondary-1 : #16181a;

    --primarry-2 : #242423;
    --secoondary-2 : #333533;

    --primary-3 : #131313;

    --as-white :  rgb(207, 207, 207);

}

*{
  
    border: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Hanken Grotesk";
    font-weight: 600;

    /* color: white; */
}

::-webkit-scrollbar{
	display: none;
}


.about-me{

    width: 100%;
	max-height: 100dvh;
    background : linear-gradient(to bottom , rgb(43, 43, 43) ,var(--primarry-1) );
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap:wrap ;
}
.about-me-headings{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.about-me-headings p{
   
    font-size: 10vw;
    color: var(--secoondary-2);
    font-style: italic;
}

.about-me-content{
    width: 30%;
    height: 100dvh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.am-heading1:hover + .am-content1{
  display: block;
  background-color: black;

}
.am-content1{
  
  height: 400px;
  width: 300px;
  background-color: var(--accent);
}
.about-me-socials{
  height: 100dvh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.main {
    scale: 1.5;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--secoondary-2);
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #ffffff;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--secoondary-2);
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #ffffff;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--secoondary-2);
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
    fill: #ffffff;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--secoondary-2);
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #ffffff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  } */


.about-me-text{
  margin-top: 25px;
  margin-left: 2%;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: start;
text-align: start;
}
 .am-ques{
  color: var(--accent);
  font-style: italic;
  font-size: 30px;
 }

 .am-ans{
  /* color: var(--secoondary-2); */
  color: rgb(207, 207, 207);
  font-size: 50px;  

 }

   

 .about-me-2{

  width: 100%;
min-height: 100dvh;
background-color: var(--primarry-1);
/* background : linear-gradient(to bottom ,var(--primarry-1), rgb(43, 43, 43) ) ; */
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap:wrap ;
  position: relative;
}

.am-2-card-holder{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.am-card1{
  display: flex;
  background-color: var(--primarry-1);
  /* background : linear-gradient(to bottom , rgb(43, 43, 43),var(--primarry-1) ) ; */
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px 30px;
  
  width: 33.3333%;
  height: 500px;
 
  border: 1px solid var(--accent);

}

.am-card1:hover{
  background-color: var(--primary-3);
}


.am-card1 h1{
  color: white;
  font-size: 48px;

}
.am-card1:hover h1{
  /* color: var(--accent); */
  font-size: 48px;

  background: linear-gradient(
        to right,
        #beee62 20%,
        #bdee628f 30%,
        #bdee626f 70%,
        #beee62 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400% auto;
    animation: textShine 2s ease-in-out infinite ;

}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


.am-card1 p{
  color: rgb(118, 118, 118);
  font-size: 18px;

}

.am-card1:hover p{
color: rgb(217, 217, 217);  font-size: 18px;

}

.am-2-ques{
  z-index: 310;

  font-size: 30px;
  color: var(--as-white);
  top: 0;
  padding-bottom: 2%;
  padding-left: 2%;
  font-style: italic;
  
}

@media screen and (max-width: 48rem) {
  .about-me-text{

    margin-left: 2%;
    height: 100vh;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: start;
  align-items: start;
  text-align: start;

  }
  .am-ans{
    /* color: var(--secoondary-2); */
    color: var(--as-white);
    font-size: 30px;  
  
   }

   .am-card1{
    width: 100%;
   }

   .am-card1 p{
    color: rgb(217, 217, 217);  font-size: 18px;
    
    }

    .am-card1 h1{
      /* color: var(--accent); */
      font-size: 48px;
    
      background: linear-gradient(
            to right,
            #beee62 20%,
            #bdee628f 30%,
            #bdee626f 70%,
            #beee62 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 400% auto;
        animation: textShine 2s ease-in-out infinite ;
    
    }
    
    @keyframes textShine {
      0% {
          background-position: 0% 50%;
      }
      100% {
          background-position: 100% 50%;
      }
    }
	
  }