@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent: #beee62;
  --primarry-1: #0b090a;
  --secoondary-1: #16181a;

  --primarry-2: #242423;
  --secoondary-2: #333533;

  --primary-3: #131313;

  --as-white: rgb(207, 207, 207);
  --as-grey : rgb(143, 143, 143);
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Hanken Grotesk";
  font-weight: 600;

  /* color: white; */
}
body{
  background-color: var(--primarry-1);
}

::-webkit-scrollbar {
  display: none;
}

.contact-page{
  margin-top: 20%;
  margin-bottom: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr;

}

.contact-form{

  height: 70dvh;
  border: 1px solid var(--accent);
  
}

.contact-details{
  height: 70dvh;
border: 1px solid var(--accent);
display: flex;
flex-direction: column;
}

.contact-address{

height: 80%;
}

.contact-socials{
  /* background-color: var(--as-white); */
  height: 20%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  color: white;
  
}

.c-social{
  font-family: "Roboto";
  font-size: 18px;
  border: 1px solid var(--accent);
  display: grid;
  place-content: center;
  position: relative;
  cursor: pointer;
}
.contact-address{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.address-details{
  text-align: center;
}
.contact-address p:nth-child(1){
  
}
.address-details p:nth-child(1){
  font-size: 4.5rem;
  
}
.address-details p:nth-child(2){
  font-size: 2.5rem;
  
}

.c-social::before{
  content: "";
  position: absolute;
  background-color: var(--accent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform .7s ease;

 

}
/* .c-social:hover{
  border: 1px solid var(--primarry-1);
} */
.c-social:hover::before{
  transform: scaleY(1);
  transform-origin: bottom;
 

}
.c-social p{
transition: all 1s ease;
}
.c-social:hover p{
  z-index: 1;
  color: var(--primarry-1);
  scale: 1.1;
  font-weight:800;
}


@media screen and (max-width : 769px) {
  .contact-page{

    grid-template-columns: 1fr ;
  
  }
  .contact-form{

    height: 50dvh;

    
  }
  
  .contact-details{
    height: 50dvh;

  }
  
  .c-social{
    font-size: 3.5vw;
  }
  .contact-address p:nth-child(1){
  
  }
  .address-details p:nth-child(1){
    font-size: 2rem;
    
  }
  .address-details p:nth-child(2){
    font-size: 1.5rem;
    
  }

}


