@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --accent : #beee62;
    --primarry-1 : #0b090a;
    --secoondary-1 : #16181a;

    --primarry-2 : #242423;
    --secoondary-2 : #333533;

    --primary-3 : #131313;

}

*{
  
    border: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Hanken Grotesk";
    font-weight: 600;

    /* color: white; */
}

::-webkit-scrollbar{
	display: none;
}


.wrapper{
    background-color: var(--primary-3);
    width: 100dvw;
    min-height: 100dvh;
}

/* .navbar{
    padding: 0% 8% ;
    height: 80px;
    background-color: var(--secoondary-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.navbar-name{
    font-size: 25px;
    display: block;
	float: left;

	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

/* .navbar-content{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
} */



  .header {
	/* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
	backdrop-filter: blur(10px);
	position:fixed;
	width: 100%;
	z-index: 300;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	/* background-color: #fff; */
}

.header li a {
	display: block;
	padding: 20px 20px;

    text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 600;
    font-size: 40px;
}

/* .header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
} */



/* menu */

.header .menu { 
	clear: both;
	max-height: 0;
	transition: .5s ease-out;
    opacity: 0;
    transform: translateX(200px);
    
    
}

/* menu icon */
a{
	color: gray;
}
.header .menu-icon {
    
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #ffffff;
	display: block;
	height: 1px;
	position: relative;
	transition: background .0.5s ease-out;
	width: 30px;
    border-radius: 50%;
}

.header .menu-icon .navicon:before{
    	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .5s ease-out;
	width: 100%;
}
.header .menu-icon .navicon:after {
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .5s ease-out;
	width: 100%;
    
}


.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;


   
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	position: relative;
	background: linear-gradient(to bottom , var(--primarry-1) , var(--secoondary-2));
	max-height: 100dvh;
    opacity: 1;
    transform: translateX(0);
  
}


.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}


.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 780px) {
	.header li {
		float: left;
    
	}
	.header li a {
		padding: 22px 14px;
        font-size: 20px;
		color: rgb(199, 199, 199);
      
        
	}
	.header .menu {
        padding: 0;
		clear: none;
		float: right;
		max-height: none;
        opacity: 1  ;
        transform: translateX(0);
	
        
	}
	.header .menu-icon {
		display: none;
	}

}

.header  .menu-a:hover{
    background-color: var(--secoondary-1);
    transition: 0.3s ease-in-out;
    text-decoration-color: white;
    color: var(--accent);   
    
}


  


.intro-screen{
	top: 0;
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100dvw;
	background: linear-gradient(to bottom , var(--primarry-1) , var(--secoondary-2));
}

.intro-texts{
	
	width: 100%;
	height: 100%;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: start;
}



.intro-dot {
    font-size: 4vw; /* Adjust this value to change the size of the icons */
  }

  .p-innerText{

	text-transform: uppercase;
    font-size: 6rem;
    text-align: center;
    color: var(--accent);
    margin: 0;
    line-height: 0rem;
    font-family: "Bebas Neue";

}

.container-innerText{
	background: linear-gradient(to bottom , var(--primarry-1) , var(--secoondary-2));
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;

    
}


.hero-page{
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	overflow-x: hidden;


}



.marquee1 {
	font-family: "Roboto";
	z-index: 100;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, .1); */
	/* border: 1px solid rgba(0, 0, 0, .15); */
	background-color: #000000;
	top: 0;
	height: 100vh;
	width: 100%;

	white-space: nowrap;
	display: grid;


}


.hero-img{
	
	height: 90%;
	object-fit: contain;
	z-index: 101;
	justify-self: center; /* Center horizontally */
	align-self: end; /* Align to the bottom */

}

.marquee1 .p1 {
	font-family: "Roboto";
    z-index: 99;
    position: absolute;
   color: var(--accent);
    font-size: 15rem;
    width: auto;
    margin: 0;
    line-height: 100px;
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    animation: scroll-left 10s linear infinite;
	animation-delay: 4.5s;
} 
.marquee1 .p2 {
	font-family: "Roboto";
    z-index: 102;
    position: absolute;
	-webkit-text-stroke:2px var(--accent);
	-webkit-text-fill-color:transparent;
    font-size: 15rem;
    width: auto;
    margin: 0;
    line-height: 100px;
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    animation: scroll-left 10s linear infinite;
	animation-delay: 4.5s;
}
.marquee1 .p3 {
	font-family: "Roboto";
    z-index: 99;
    position: absolute;
   color: var(--accent);
    font-size: 15rem;
    width: auto;
    margin: 0;
    line-height: 100px;
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    animation: scroll-left-sub 10s linear infinite;
	animation-delay:4.5s;
} 
.marquee1 .p4 {
	font-family: "Roboto";
    z-index: 102;
    position: absolute;
	-webkit-text-stroke:2px var(--accent);
	-webkit-text-fill-color:transparent;
    font-size: 15rem;
    width: auto;
    margin: 0;
    line-height: 100px;
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    animation: scroll-left-sub 10s linear infinite;
	animation-delay: 4.5s;
}

@keyframes scroll-left {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0%);
	}
}
@keyframes scroll-left-sub {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-150%);
	}
}




/* .animated-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(circle,var(--secoondary-2) 10%, transparent 10%);
	background-size: 30px 30px;
  }
   */

.animated-container{
	background : linear-gradient(to bottom ,var(--primary-3),rgb(43, 43, 43) );
}


  .ul {
	list-style: none;
  }
  
  .example-2 {
	position: absolute;
	scale: 0.9	;
	bottom: 5px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .example-2 .icon-content {
	margin: 0 10px;
	position: relative;
  }
  .example-2 .icon-content .tooltip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	font-size: 14px;
	transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
	opacity: 1;
	visibility: visible;
	top: -50px;
  }
  .example-2 .icon-content a {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	
	transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
	box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
	position: relative;
	z-index: 1;
	width: 30px;
	height: 30px;
  }
  .example-2 .icon-content a[data-social="linkedin"]:hover {
	color: white;
  }
  .example-2 .icon-content a[data-social="github"]:hover {
	color: rgb(0, 0, 0);
  }
  .example-2 .icon-content a .filled {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #000;
	transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
	height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
	background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled{
	background-color: #ffffff;
  }
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
	border: 1px solid white;
	background-color: #24262a;
  }


  
@media screen and (max-width: 48rem) {
	.hero-img{
	
		height: 500px;
		width: 320px;
		object-fit: contain;

	
	}
	.hero-page{
		/* display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start; */
	
	}
	.hero-img{
		width: 300px;
	
	}
	.p-innerText{
		
		font-size: 10vw;	
		
	}
	.marquee1 .p1{
		font-size: 150px;
		-webkit-text-stroke-width: 2px;
	}
	.marquee1 .p2{
		font-size: 150px;
		-webkit-text-stroke-width: 2px;
	}
	.marquee1 .p3{
		font-size: 150px;
		-webkit-text-stroke-width: 2px;
	}
	.marquee1 .p4{
		font-size: 150px;
		-webkit-text-stroke-width: 2px;
	}
.ul{
	display: none;
}
  }